<div class="jumbotron">
    <h1>O2SAT</h1>
    <p class="lead">O 02Sat é tem como função primordial a conservação de bons níveis de oxigênio dentro de um ambiente confinado.</p>    
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Saturação de oxigênio: </h2><h1 id="pValorSaturacao">22.5%</h1>       
    </div>
    <div class="col-md-6">
        <h2>Exaustor</h2>
        <div id="divRectangle"><img id="exhaustorImage" src="~/images/stopedExhaustor.png" /></div>
    </div>
</div>
